@tailwind base;
@tailwind components;
@tailwind utilities;

details > summary {
  list-style-type: none;
}
/* Icono calendario para input de fechas */
input[type="date"]::-webkit-calendar-picker-indicator {
  /* content: url("/public/images/calendar.png"); */
  height: 1.75rem;
  width: 1.75rem;
}
/* Dejar el input vacío */
input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
  color: transparent;
}

table.tfooter tr:last-child {
  @apply bg-black text-white font-bold;
}

@media (max-width: 1024px) {
  aside {
    height: 100vh;
  }
}

.blue-button {
  @apply bg-sky-500 w-40 rounded-lg h-10 flex justify-center items-center ml-2 mt-1 hover:bg-sky-400 transition-all ease-in-out duration-200;
}

.select {
  @apply outline-none border border-gray-300 rounded-md w-32;
}

table.last-row-bg tr:last-child {
  @apply bg-black font-bold text-white;
}

.buttonToggle {
  @apply px-2 py-1 border border-gray-300 hover:bg-gray-500 hover:text-white rounded-md cursor-pointer transition ease-in-out duration-200;
}

/*Advnaced components*/
@layer components {
  /*Accordion*/
  .Accordion{
    @apply flex flex-row w-full justify-between cursor-pointer border-b-2 z-10;
  }
  .Accordion-button{
    @apply  w-[32px] transition-transform ease-in-out duration-300; 
  }
  .Accordion-button.active{
    @apply rotate-180;
  }
  .Collapse-Accordion{
    @apply overflow-hidden w-full h-0 transition-height duration-300 ease-in-out;
  }
  .Collapse-Accordion.active{
    @apply h-fit;
  }

  /*Modal*/
  .Form-modal{
    @apply
    bg-black fixed 
    min-w-[400px] 
    min-h-[200px] 
    w-fit 
    top-0 
    left-0 
    translate-x-[calc(50vw_-_50%)] 
    translate-y-[calc(50vh_-_50%)] 
    rounded-md 
    z-10
    transition-transform duration-300 ease-in-out
    transform scale-0
    ;
  }

  .Form-modal.active{
    @apply
    transform scale-100
  }

}
