/*MODAL*/
.modal-main,
.confirm-modal{
    @apply
    fixed 
    bg-white
    top-0
    min-w-[300px] 
    min-h-[200px]
    w-fit  
    translate-x-[calc(50vw_-_50%)] 
    translate-y-[calc(50vh_-_50%)]
    z-30
    rounded-md
    box-content
    overflow-hidden
    transition-transform duration-300 ease-in-out
    transform scale-0
    shadow-sm
}

.modal-main.active, 
.confirm-modal.active{
    @apply transform scale-100
}

.modal-main-header ,
.confirm-modal-header{
    @apply 
    flex 
    justify-between
    items-center
    h-12
    p-2
    bg-black-shape
}
.modal-main-body{
    @apply 
    min-w-[350px] 
    min-h-[200px] 
    max-w-fit 
    max-h-fit p-2
    overflow-auto 
}

.modal-visor-pdf{
    @apply
    fixed 
    bg-white
    top-0
    w-screen
    md:w-[45rem]
    h-screen
    md:h-[50rem]
    translate-x-[calc(50vw_-_50%)] 
    translate-y-[calc(50vh_-_50%)]
    z-30
    rounded-md
    box-content
    transition-transform duration-300 ease-in-out
    transform scale-0
    shadow-sm
    overflow-hidden
}
.modal-visor-pdf-header{
    @apply 
    flex 
    justify-between
    items-center
    h-12
    p-2
    w-full
}
.modal-visor-pdf.active{
    @apply transform scale-100
}

.toolmenu{
    @apply 
    bg-black-light
    flex
    flex-row
    h-full
    w-[12rem]
    rounded-md
    justify-between
    items-center
    p-2

    md:flex-col
    md:w-[3rem]
    md:rounded-none
    
}


